* {
    box-sizing: content-box;
}

body {
    margin: calc(1rem);
    background-color: rgb(34, 34, 34);
    --spacing: .5rem;
    color: white;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block: 0.67em;
    margin-inline: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    row-gap: calc(1rem);
    column-gap: calc(1rem);
}

.first-page {
    display: flex;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: calc(1rem);
    border-radius: calc(0.25rem);
    width: 100%;
    max-width: 50rem;
}

input {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
}

#container {
    padding: 0.5rem;
    opacity: 0;
    flex: 1;
    color: var(--color);
    width: 100%;
}

.box-1 {
    padding: 0.5rem;
    text-align: center;
}

